#esquiloww {
    width: 100%;
    position: relative;
}
.twitter {
    position: absolute;
    width: 18%;
    top: 15%;
    left: 6.5%;
    animation:
        fadetwitter 1.5s infinite alternate-reverse,
        delay 9s infinite;
}

.instagram {
    opacity: 0;
    position: absolute;
    width: 17%;
    top: 12%;
    left: 7%;
    animation:
        fadeinstagram 1.5s infinite alternate-reverse,
        delay 9s infinite;
    animation-delay: 3s
}

.facebook {
    opacity: 0;
    position: absolute;
    width: 17%;
    top: 12%;
    left: 7%;
    animation:
        fadeinstagram 1.5s infinite alternate-reverse,
        delay 9s infinite;
    animation-delay: 6s
}

@keyframes delay {
    0% {
        opacity: 1;
    }
    32% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadetwitter {
    0% {
        opacity: 1;
        transform: scaleX(1.00) scaleY(1.00);
    }

    25% {
        opacity: 1;
        transform: scaleX(0.95) scaleY(0.95);
    }

    50% {
        opacity: 1;
        transform: scaleX(1.10) scaleY(1.10);
    }

    100% {
        opacity: 0;
        transform: scaleX(0.10) scaleY(0.10);
    }
}

@keyframes fadeinstagram {
    0% {
        opacity: 1;
        transform: scaleX(1.00) scaleY(1.00);
    }

    25% {
        opacity: 1;
        transform: scaleX(0.95) scaleY(0.95);
    }

    50% {
        opacity: 1;
        transform: scaleX(1.10) scaleY(1.10);
    }

    100% {
        opacity: 0;
        transform: scaleX(0.10) scaleY(0.10);
    }
}